body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-box {
    text-align: center;
    margin-bottom: 20px;
}

.search-box input {
    width: 94.5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    transition: all 0.3s ease;
}

.tasks-list {
    margin-bottom: 20px;
}

.task-box {
    border: 1px solid #ccc;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.LOW {
    background-color: rgb(60, 197, 247);
}

.MEDIUM {
    background-color: rgb(255, 225, 0);
}

.HIGH {
    background-color: rgb(247, 160, 60);
}

.CRITICAL {
    background-color: rgb(247, 60, 60);
}

.task-options {
    position: absolute;
    top: 10px;
    right: 10px;
}

.task-options button {
    margin-left: -5px;
    background: none;
    border: none;
    cursor: pointer;
}

.task-options button:hover {
    background-color: #eaeaea;
    border-radius: 15%;
    padding: 2px;
}

.task-options i {
    font-size: 25px;
}

.task-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown {
    display: none;
    padding-top: 10px;
}

.open .dropdown {
    display: block;
}

.page-navigator {
    text-align: center;
}

.page-navigator button {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-navigator button:hover {
    background-color: #f0f0f0;
}

/* Previous and Next button styles */
.page-navigator .prev,
.page-navigator .next {
    margin: 0 10px;
}

/* Responsive styles */
@media only screen and (max-width: 480px) {
    .task-box {
        width: 100%;
    }

    .search-box input {
        width: 90%;
    }
}
