<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/tasks/css/tasks_list.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <title>Modern Page</title>
</head>
<body>
    <div class="container">
        <div class="search-box">
            <input type="text" id="searchInput" placeholder="Search ..." />
        </div>
        <div class="tasks-list">
            {% for task in tasks %}
                <div class="task-box {{ task.priority }}">
                    <h2>{{ task.title }}</h2>
                    <div class="task-options">
                        <button><i class="bi bi-pencil-square"></i></button>
                        <a href="{{ url_for('delete_task', task_id=task.id) }}"><button><i class="bi bi-trash"></i></button></a>
                    </div>
                    <h3 class="task-date" dir="{{ datetime_dir }}" style="text-align: left;">{{ task.date }}</h3>
                    <!-- <h3 dir="rtl" class="task-date">{{ task.date }}</h3> -->
                    <div class="dropdown">
                        <p>{{ task.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="page-navigator">
            <button class="prev">Prev</button>

            <button class="page">1</button>
            <button class="page">2</button>
            <button class="page">3</button>

            <button class="next">Next</button>
        </div>
    </div>
    <script src="{{ url_for('static', path='/tasks/js/scripts.js') }}"></script>
</body>
</html>

