<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/tasks/css/style.css') }}">
    <title>Modern Page</title>
</head>
<body>
    <div class="container">
        <div class="search-box">
            <input type="text" id="searchInput" placeholder="Search ..." />
        </div>
        <div class="tasks-list">
            {% for task in tasks %}
                <div class="task-box {{ task.priority }}">
                    <h2>{{ task.title }}</h2>
                    <div class="dropdown">
                        <p>{{ task.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="page-navigator">
            <!-- Pagination numbers will go here -->
            1 2 3 ... 10
        </div>
    </div>
    <script src="{{ url_for('static', path='/tasks/js/scripts.js') }}"></script>
</body>
</html>

